<div class="card" style="width: 38rem;">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d59117.23276249575!2d-101.05126976966858!3d22.17065458698116!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x842aa1e18d2b3c5b%3A0x7718a4343bdd9916!2sSuper%20Farmacia%20Guadalajara!5e0!3m2!1ses-419!2smx!4v1697686355622!5m2!1ses-419!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <div class="card-body">
      <h5 class="card-title">Super Farmacia Guadalajara</h5>
      <p class="card-text">Ubicados en Juan del Jarro 253, Mision de Santiago, Los Alamos, 78174 San Luis, S.L.P.</p>
      <a href="#" class="btn btn-primary">Ir ahí</a>
    </div>
  </div>