<table class="table">
  <thead>
    <tr>
      <th scope="col"> </th>
      <th scope="col">ID</th>
      <th scope="col">Nombre</th>
      <th scope="col">Longitud</th>
      <th scope="col">Latitud</th>
      <th scope="col">Detalle</th>
      
    </tr>
  </thead>
  <tbody *ngFor=" let item of FarmaciasList">
    <tr>
      <th scope="row"></th>
      <td>{{item.ID}}</td>
      <td>{{item.farmacias}}</td>
      <td>{{item.x}}</td>
      <td>{{item.y}}</td>
      <td class="btn btn-primary" (click)="Detalle(item.ID)">Detalle</td>
    </tr>
  
  </tbody>
</table>