<section id="banner">
  <img src="../../../../assets/imagenes/Foto4.jpg" class="img-fluid" alt="...">
</section>
<section style="background-color: black;">
<div class="container text center">
    <div class="row" style="background-color: rgb(33, 44, 44); padding: 5%;">
    
        <div class="col"> <div class="card" style="width: 18rem; background-color: black;">
            <img src="../../../../assets/imagenes/Foto1.jpg" class="card-img-top" alt="...">
            <div class="card-body" style="color: antiquewhite;">
              <h5 class="card-title">Beats</h5>
              <p class="card-text">En esta sección encontraras solo audífonos beats</p>
              <a href="#" class="btn btn-dark">Acceder</a>
            </div>
          </div></div>
      
        <div class="col"> <div class="card" style="width: 18rem;background-color: black;">
            <img src="../../../../assets/imagenes/Foto2.jpg" class="card-img-top" alt="...">
            <div class="card-body" style="color: antiquewhite;">
              <h5 class="card-title">SkullCandy</h5>
              <p class="card-text">Encontraras audífonos skullcandy</p>
              <a href="#" class="btn btn-dark">Ir ahí</a>
            </div>
          </div></div>
          <div class="col"> <div class="card" style="width: 18rem;background-color: black;">
            <img src="../../../../assets/imagenes/Foto3.jpg" class="card-img-top" alt="...">
            <div class="card-body" style="color: antiquewhite;">
              <h5 class="card-title">Sony</h5>
              <p class="card-text">Encontrarás audífonos Sony.</p>
              <a href="#" class="btn btn-dark">Click aquí</a>
            </div>
          </div></div>
    </div>
    </div>
  </section>
<section id="cartas" style="background-color: black;">

  <div class="container text-center" style="background-color: rgb(20, 18, 18);">
    <div class="row">
      <div class="col" style="color: white;">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/8CM82_Q5Uc0?si=qJABsQeLW9PHYFYe" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
      <div class="col" style="color: antiquewhite;">
        <br><br><br><br><b>Extreme bass test</b> <br>
       Over-ear wireless headphones that feature a unique haptic bass technology that delivers an immersive audio experience.
      </div>
    </div>
  </div>
</section>
